:root {
  --header-color: #ffffff;
  --logo-color: #000000;
  --background-color: #E5E5E5;
  --second-background-color: #2F303A;
  --thirt-background-color: #F5F4FA;
  --text-color: #757575;
  --second-text-color: #212121;
  --main-font: "open sans", sans-serif;
  --accent-color: #2196F3;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ------------HEADER------------*/

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}

.header-list .link.current {
    color: var(--accent-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.contacts-tel, .contacts-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;    
    color: var(--text-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}
/* ------------HERO------------*/

.hero {
    background-color: var(--second-background-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    letter-spacing: 0.06em;
    color: var(--header-color);  
    text-transform: uppercase;
 }
 
.hero-btn {
    font-family: inherit;   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--thirt-background-color);
    color: var(--header-color);
 }

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-color);
    color: var(--header-color);
}

/* ------------ABOUT------------*/
  
.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    text-transform: uppercase;
 }
.about-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
 }

.carts-title, .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
 }

.team {
    background-color: var(--thirt-background-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
 }

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color);
 }

 /* ------------FOOTER------------*/

.footer {
     background-color: var(--second-background-color);
 }

.footer-logo {
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     letter-spacing: 0.03em;
     color: var(--accent-color);
 }

.footer-logo span {
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     letter-spacing: 0.03em;
     color: var(--header-color);
 }

.address {
    font-style: normal;
}

.address span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-color);
 }

.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
} 

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

/* ------------PORTFOLIO------------*/

.filters-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;letter-spacing: 0.03em;
    background-color: var(--thirt-background-color);
    color: var(--second-text-color);
}

.filters-btn:hover,
.filters-btn:focus {
    background-color: var(--accent-color);
    color: var(--header-color);
}

.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
}

.projects-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;letter-spacing: 0.03em;
    color: var(--text-color);
}